<!DOCTYPE html>
<html lang="ro-RO">
<head>
    <title>E-lectrocasnice</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/stil.css">
</head>
<body>
    <%- body %>    
</body>
</html>